/bin/
/test-output/
/target/
/BO-Installation-folder.txt
*.bak
*.DUMP
*.LOG
.DS_Store
/Packaging/BuildOrchestrator.zip
/dependency-updates.tsv
/node_modules/
/package-lock.json
/package.json
*.lnk
0.txt
Clean*.BAT
Git tags.txt
\!Situaz.TXT
